*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: auto;
}
.more{
    width: 10px;
    height: auto;
    padding-right: 5px;
    padding-left: 3px;
}
.icon{
    width: 15px;
    height: auto;
    margin-bottom: -2px;
    padding-right: 3px;
}
a{
    text-decoration: none;
    color: black;
}
.orange_red{
    color: orangered;
}
.small{
    font-size: 12px;
}
.middle{
    font-size: 14px;
    padding-left: 3px;
}
.big{
    font-size: 16px;
    font-weight: bolder;
}
.cost{
    font-weight: bolder
}
.wang_wang{
    width: 25px;
    height: auto;
    margin-bottom: -5px;
}
#navigator{
    height: 35px;
    width: 100%;
    background: rgb(245, 245, 245);
    font-size: 12px;
}
#navigator div{
    height: 35px;
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}
#container{
    width: 1190px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
#logo_and_search{
    width: 100%;
    height: 35px;
    padding-top: 20px;
    padding-bottom: 40px;
    user-select: none;
}
#pages_and_pay{
    height: 33px;
    width: 100%;
    user-select: none;
}
#table_head{
    width: 100%;
    height: 50px;
    user-select: none;
}
#options_and_pay{
    width: 100%;
    height: 50px;
    background: #e5e5e5;
}
#pages_and_pay{
    border-bottom: rgb(210, 210, 210) 2px solid;
}
#navigator ul{
    height: 100%;
    width: auto;
    list-style: none;
    display: inline-block;
}
#navigator ul li{
    height: 100%;
    width: auto;
    float: left;
    line-height: 35px;
    padding-left: 10px;
}
#navigator .left_list{
    float: left;
}
#navigator .right_list{
    float: right;
}

#logo_and_search #logo img{
    height: 45px;
    width: auto;
}
#logo_and_search #search{
    float: right;
    width: auto;
    height: 35px;
}
#search{
    border:3px orangered solid;
}
#search div,
#search div div,
#search img,
#search #to_search,
#search #search_logo,
#search input{
    display: inline-block;
    line-height: 35px;
    color: gray;
    text-align: center;
}
#search img{
    float: right;
    padding-top: 12px;
}
#search #to_search{
    background: orangered;
    color: white;
    font-weight: 500;
}
#search div div{
    width: 74px;
    height: 35px;
    float: left;
    background: rgb(240, 240, 240);
}
#search ul{
    display: none;
    float: left;
    margin-top: 35px;
    list-style: none;
    width: 74px;
    height: 28px;
}
#search input{
    height: 34px;
    width: 320px;
    outline: none;
    line-height: 34px;
    font-size: 14px;
    border: none;
    float: left;
    text-align: start;
}
#search #search_logo{
    width: 25px;
    height: auto;
    float: left;
    padding-top: 5px;
}
#search #to_search{
    height:35px;
    line-height: 34px;
    font-size: 20px;
    width: 100px;
    text-align: center;
    float:right;
}
#search #input_area{
    width: auto;
    height: 35px;
}
#pages_and_pay ul{
    float: left;
    list-style: none;
    height: 100%;
    width: auto;
}
#pages_and_pay ul li{
    height: 100%;
    font-size: 16px;
    width: 125px;
    float: left;
    text-align: center;
    user-select: none;
}
#pages_and_pay ul li:hover{
    border-bottom: 2px orangered solid;
}
#pages_and_pay div{
    float: right;
    height: 100%;
    width: auto;
}
#pages_and_pay div span{
    width: auto;
    height: auto;
    font-weight: bolder;
    color: orangered;
}
#pages_and_pay div div{
    width: 55px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 4px;
    margin-left: 10px;
    color: white;
}
#table_head #check_all,
#table_head ul{
    float: left;
    line-height: 50px;
    font-size: 14px;
}
#table_head ul{
    height: 100%;
    width: auto;
    list-style: none;
}
#table_head ul li{
    float: left;
}
#table_head #check_all{
    padding-left: 10px;
    padding-right: 15px;
}
#table_head ul li:nth-child(1){
    padding-left: 90px;
}
#table_head ul li:nth-child(2){
    padding-left: 455px;
}
#table_head ul li:nth-child(3){
    padding-left: 95px;
}
#table_head ul li:nth-child(4){
    padding-left: 95px;
}
#table_head ul li:nth-child(5){
    padding-left: 150px;
}
#options_and_pay ul{
    list-style: none;
    height: 100%;
    padding-left: 15px;
    user-select: none;
}
#options_and_pay ul li{
    height: 100%;
    float: left;
    line-height: 50px;
    font-size: 14px;
}
#options_and_pay ul li:nth-child(2){
    padding-left: 30px;
}
#options_and_pay ul li:nth-child(3){
    padding-left: 30px;
}
#options_and_pay ul li:nth-child(4){
    padding-left: 30px;
}
#options_and_pay ul li:nth-child(5){
    padding-left: 440px;
}
#options_and_pay ul li:nth-child(6){
    padding-left: 40px;
}
#options_and_pay ul li:nth-child(7){
    float: right;
    display: inline-block;
    width: 120px;
    text-align: center;
    font-size: 20px;
    color: white;
}
.not_to_pay{
    background: rgb(170, 170, 170);
}
.to_pay{
    background: orangered;
}
#goods .shop .shop_info{
    height:38px;
    width: auto;
    line-height: 38px;
    padding-left: 10px;
    font-size: 14px;
}
#goods{
    width: 100%;
    height: auto;
}
.shop{
    margin-bottom: 20px;
}
.shop .goods_info_list{
    background: rgb(250, 250, 250);
}
.shop .goods_info_list,
.shop .goods_info_list .info,
.shop .goods_info_list .goods_info .info{
    list-style: none;
    height: auto;
}
.shop .goods_info_list .goods_info .info{
    height: 130px;
    width: auto;
}
.shop .goods_info_list .goods_info .info li{
    height: auto;
    float: left;
}
.goods_info{
    border: rgb(210, 210, 210) solid 1px;
}
.shop .goods_info_list .goods_info>div{
    float: left;
    margin-top: 16px;
}
.goods_info_list li{
    padding-left: 20px;
}
.goods_info_list .info li{
    margin-top: 20px;
}
.goods_img{
    width: 80px;
    height: auto;
}
.info li:nth-child(2){
    padding-left: 25px;
    width: 230px;
}
.info li:nth-child(2) .services{
    height: 25px;
    width: auto;
    margin-top: 35px;
}
.info li:nth-child(3){
    width: 210px;
}
.info li:nth-child(4){
    padding-left: 38px;
    width: 60px;
}
.info li:nth-child(4){
    width: 120px;
}
.info li:nth-child(5){
    padding-left: 0;
    width: 120px;
}
.info li:nth-child(5) input{
    width: 50px;
    display: inline-block;
    float: left;
    text-align: center;
}
.info li:nth-child(5) .add,
.info li:nth-child(5) .reduce{
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    float: left;
    background: rgb(230, 230, 230);
    user-select: none;
}
.info li:nth-child(6){
    padding-left: 30px;
    width: 100px;
}
.info li:nth-child(7){
    width: 100px;
    padding-left: 60px;
    user-select: none;
}